                           /*----------------Navigation----------------*/

.container-fluid{
  background-color: grey;
 
}     

ul{
  display: flex;
  align-items: center;
}

.nav-link{
  display: flex;
  justify-content: center;  
}

.nav-item{
  font-size: large;
  justify-content: center;
  
}

/*---------------Parallax et barre de recherche----------------------*/

.parallax-effect {
    background-image: url("images_the_district/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  overflow: hidden;
    
  }

  .search-container {
    position: relative;
    height: 4rem; /* 100% de la hauteur de la vue */
    
  }
  .search-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
  }

  .form-control {
    width: 20rem;
  }                                                     /*----------------------Code Main---------------------------*/




.card{
  padding: 0%;
  margin: auto;
  margin-top: 5%;
}





.bas_page{
  margin: 3rem;
  

}



.btn{
  background-color: blueviolet;
  

}


h6{
  color: rgb(230, 148, 27);
  font-size: 2rem;
  border: 2px blueviolet solid;
  border-radius: 20%;
  background-color:grey;

}


label{
  color: blueviolet;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}


