                                                                /*-----------TOUTE LA PAGE---------------*/

*{
    margin: 0;
    padding: 0;
}


                                                                /*----------------Navigation----------------*/



.container-fluid{
  background-color: rgb(63, 56, 56);
}

.navbar-toggler-icon{
  background-color: white;
  border-radius: 20%;
}


.nav-link{
  color: white;
  font-size: x-large;
}



                                                        /*---------------Parallax et barre de recherche----------------------*/

.parallax-effect {
    background-image: url("images_the_district/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  overflow: hidden;
    
  }
  
.search-container {
    position: relative;
    height: 5rem; /* 100% de la hauteur de la vue */
    
  }

  
.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
  }
  
.form-control {
    width: 50rem;
  }


                                                        /*----------------------Code Main---------------------------*/



.card{
  margin: auto;
  margin-bottom: 2rem;
}

.bas_page{
  margin: 3rem;
  display: flex;

}

.row{
  margin: 2rem;
  
}

.btn{
  background-color: blueviolet;
}

form{
  margin: auto;
}