                                                                /*-----------TOUTE LA PAGE---------------*/

*{
    margin: 0;
    padding: 0;
}


.container-fluid{
  background-color: grey;
}                                      /*----------------Navigation----------------*/

ul{
  display: flex;
  align-items: center;
}

.nav-link{
  display: flex;
  justify-content: center;
  
}

.nav-item{
  font-size: large;
  justify-content: center;
  
}

/*---------------Parallax et barre de recherche----------------------*/

.parallax-effect {
    background-image: url("images_the_district/parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  overflow: hidden;
    
  }

  .search-container {
    position: relative;
    height: 4rem; /* 100% de la hauteur de la vue */
    
  }
  .search-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
  }

  .form-control {
    width: 20rem;
  }                                                     /*----------------------Code Main---------------------------*/


.row{
  display: flex;
  justify-content: center;
  padding: 0%;
  margin: 1%;
}


.card{
  padding: 0%;
  margin: auto;
}

























.bas_page{
  margin: 3rem;
  display: flex;

}



.btn{
  background-color: blueviolet;
  

}


