*{
    margin: 0;
    padding: 0;

}

.nav-link{
    text-align: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 100%;
    background-color: black;
    color: #fff;
}