                           /* ----------------Navigation---------------- */

body, html{
  background-color: black;
  height: 100%;
}




  .container-fluid{
  background-color: rgb(34, 29, 29);
  
}

.nav-link{
  color: #ffffff;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 25px;
}
.nav-item{
  display: flex;
  justify-content: center;
}

.navbar-toggler{
  background-color: #4e4545;
}


/*---------------Parallax et barre de recherche----------------------*/


.parallax-effect {
  background-image: url("/Assets/images_the_district/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  
}



 
.search-container {
  max-width: 300px;
  margin: 50px auto;
}


#searchInput {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#results {
 
  width:  auto;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Pour s'assurer que le résultat est au-dessus du reste du contenu */
}

#results li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  
}

 
  
  
  /*----------------------Code Main---------------------------*/
 h1, h3, h5{
    color: rgb(230, 148, 27);
  
  }
/* ---Effect on card index categories--- */
  .image-hover-effect {
    transition: transform 0.3s ease-in-out; 
  }
  
  .image-hover-effect:hover {
    transform: scale(1.1); 
   
  }

/* ---card on plats */


.card-img-top{
  border-radius: 100px;
}

.card{
  padding: 0%;
  margin: auto;
  margin-top: 5%;
  width: 540px;
  
}


.card-body{
  background-color: #232629d9;
  margin: 0;

}



.card-title{
  color: blueviolet;
  font-style: italic;
  font-weight: bolder;
  font-size: larger;
}



.card-text{
  font-size: 1.1rem;
  color: #ccc;
  font-family: 'Times New Roman', Times, serif;
}


.card-price{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
}

/*---all image---*/

.img-thumbnail {
  background-color: rgb(75, 60, 60);
}

.image-container {
  position: relative;
  text-align: center;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(3, 224, 172); /* Couleur du texte */
  font-size: 28px; /* Taille du texte */
  font-weight: bold; /* Gras du texte */
  text-decoration: underline;
}


svg{
  color: white;
}

h6{
  color: rgb(230, 148, 27);
  font-size: 2rem;
  border: 2px blueviolet solid;
  border-radius: 20%;
  background-color:grey;

}


label{
  color: black;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*---All pages---*/

.btn{
  background-color: blueviolet;
  

}




/* ---Contact--- */

.error{
  color: orange;
  display: flex;
  justify-content: center;
}

.formcontact {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #3f4449;
  border-radius: 8px;

}



.cnt{
  color: white;
  margin: 2%;
}

.input-group {
  flex-direction: column; /* Align textarea and label vertically */
  align-items: center; /* Center the textarea within the input group */
}



.reload{
  background-color: blueviolet;
}




