                           /* ----------------Navigation---------------- */

body, html{
  background-color: black;
  height: 100%;

}




  .container-fluid{
  background-color: rgb(34, 29, 29);
  
}

.nav-link{
  color: #ffffff;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 25px;
}
.nav-item{
  display: flex;
  justify-content: center;
}

.navbar-toggler{
  background-color: #4e4545;
}


/*---------------Parallax et barre de recherche----------------------*/


.parallax-effect {
  background-image: url("../images_the_district/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  
  
}


.search-container {
  max-width: 400px; /* Définir une largeur maximale pour le conteneur de recherche */
  margin: 0 auto;   /* Centrer le conteneur de recherche sur la page */
}

#searchInput {
  width: 100%;      /* Prendre 100% de la largeur disponible */
  padding: 10px;    /* Ajouter un peu de marge pour une meilleure apparence */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
}

#results {
  position: absolute;
  z-index: 1;
  width: auto; /* Ajuster la largeur automatiquement en fonction du contenu */
  background-color: grey;
  padding: 0;
  width: 400px;
 
}

  /*----------------------Code Main---------------------------*/
 h1, h3, h5{
    color: rgb(230, 148, 27);
  
  }
/* ---Effect on card index categories--- */
  .image-hover-effect {
    transition: transform 0.3s ease-in-out; 
  }
  
  .image-hover-effect:hover {
    transform: scale(1.1); 
   
  }

/* ---card on plats */


.card-img-top{
  border-radius: 100px;
}

.card{
  padding: 0%;
  margin: auto;
  margin-top: 5%;
  max-width: 540px;
  
}


.card-body{
  background-color: #232629d9;
  margin: 0;

}





.card-title{
  color: blueviolet;
  font-style: italic;
  font-weight: bolder;
  font-size: larger;
}



.card-text{
  font-size: 1.1rem;
  color: #ccc;
  font-family: 'Times New Roman', Times, serif;
}


.card-price{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
}

/*---all image---*/

.img-thumbnail {
  background-color: rgb(75, 60, 60);
}

.image-container {
  position: relative;
  text-align: center;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(3, 224, 172); /* Couleur du texte */
  font-size: 28px; /* Taille du texte */
  font-weight: bold; /* Gras du texte */
  text-decoration: underline;
}




h6{
  color: rgb(230, 148, 27);
  font-size: 2rem;
  border: 2px blueviolet solid;
  border-radius: 20%;
  background-color:grey;

}


label{
  color: black;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*---All pages---*/

.btn{
  background-color: blueviolet;
  width: auto;
  
}

.btn-card{
  background-color: #a95020d9;
  width: 40%;
}


/* ---Contact--- */

.error{
  color: orange;
  display: flex;
  justify-content: center;
}

.form-bg {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #3f4449;
  border-radius: 8px;
  margin-top: 1rem;

}



.cnt{
  color: white;
  margin: 2%;
}

.input-group {
  flex-direction: column; /* Align textarea and label vertically */
  align-items: center; /* Center the textarea within the input group */
}



.reload{
  background-color: blueviolet;
}




/* ---Footer--- */


svg{
  color: white;
 
}


.social{
  display: flex;
  justify-content: center;
  
}

.copyright{
  color: white;
  padding: 0%;
  margin: 0%;
  
}

.list-inline-item a{
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-inline li{
  margin-top: 1rem;
}